altgraph==0.17.2
asgiref==3.8.1
ba==0.0.4
certifi==2024.8.30
charset-normalizer==3.3.2
Django==4.2.21
future==0.18.2
grpcio==1.71.0
grpcio-tools==1.71.0
idna==3.8
macholib==1.15.2
protobuf==5.29.4
pybase62==1.0.0
razorpay==1.4.2
requests==2.32.3
six==1.15.0
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.2.2
